

input {
    display: block;
    width: 500px;
    height: 35px;
}

span {
    display: block;
    color: rgb(10, 23, 106);
    padding-bottom: 15px;
    
}

label {
    padding-bottom: 10px ;
}




